:root {
  --primary-color: #2db19b9d;
  --secondary-color: #c4b6bad7;
  --hover-button-color: #2db19be8;
  --basic-font: "Nunito", sans-serif;
  --header-font: "Comfortaa", cursive;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.hero {
  background: url(/images/tulips.jpg);
  background-color: var(--secondary-color);
  height: 620px;
  padding: 120px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  background: var(--secondary-color);
  padding: 20px;
  margin: 20px;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 20px 0;
  font-family: var(--header-font);
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--basic-font);
}
.contact-list {
  padding: 0;
  list-style: none;
  margin-left: 25%;
  font-family: var(--basic-font);
}
.contact-link {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
footer {
  display: flex;
  flex-direction: column;
}
.work-inquiry {
  background: var(--secondary-color);
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  justify-content: space-around;
}
.about-img {
  height: 210px;
  border-radius: 50%;
}

.button {
  font-size: 25px;
  background: var(--primary-color);
  padding: 3%;
  margin: 10px;
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  border: 1px solid var(--hover-button-color);
}
.button:hover {
  color: white;
  background: var(--hover-button-color);
}
.about-paragraphs {
  margin: 5% 15%;
  padding: 20px;
  border: 2px solid var(--secondary-color);
}
.wip-project {
  opacity: 0.5;
}
.contact-i {
  color: var(--secondary-color);
  margin: 10px;
}

.rrss {
  text-decoration: none;
  color: white;
  padding: 15px;
  border-radius: 50%;
  background: var(--primary-color);
  transition: all 100ms ease-in-out;
}
.rrss:hover {
  background: var(--secondary-color);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
.container {
  width: 100%;
}

.projects {
  background: white;
  text-align: left;
}
.social {
  display: flex;
  justify-content: space-evenly;
}
.img-project {
  transition: transform 200ms ease-in-out;
}
.img-project:hover {
  transform: scale(1.1);
}
@media (max-width: 700px) {
  .homepage-img {
    display: none;
  }
  .projects {
    width: 100%;
    text-align: center;
  }
  .button {
    display: block;
    text-align: center;
    font-size: 18px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .hero {
    padding: 10%;
    padding-top: 33%;
    padding-bottom: 33%;
  }
  .header {
    margin: 20px auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-list {
    margin-left: 18%;
  }
  .contact-link {
    font-size: 15px;
  }
}
