:root {
  --primary-color: #2db19bad;
  --secondary-color: #d8b3bfb4;
  --basic-font: "Nunito", sans-serif;
  --header-font: "Comfortaa", cursive;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.hero {
  background: var(--secondary-color);
  padding: 120px;
}
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 20px 0;
  font-family: var(--header-font);
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  font-family: var(--basic-font);
}
.work-inquiry {
  background: var(--secondary-color);
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
  background: white;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.container {
  width: 100%;
}
.app-button {
  font-size: 16px;
  background: var(--primary-color);
  padding: 20px 15px;
  color: white;
  text-decoration: none;
}
.projects {
  background: white;
  text-align: left;
}
footer {
  display: flex;
  justify-content: space-evenly;
  background: var(--secondary-color);
}
@media (max-width: 576px) {
  .homepage-img {
    display: none;
  }
  .projects {
    width: 100%;
    text-align: center;
  }
  .app-button {
    display: block;
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .hero {
    padding: 50px;
  }
}
